{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-purple-100 p-8">
  <div class="max-w-4xl mx-auto">

    <!-- Botão para voltar -->
    <button onclick="window.history.back()"
      class="inline-flex items-center px-4 py-2 text-purple-400 font-regular rounded-md hover:text-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 mb-6">
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
      </svg>
      Voltar
    </button>

    <h1 class="text-3xl font-bold text-purple-800 mb-6">Criar Nova Tarefa</h1>

    <form action="/criar-tarefa" method="post" class="bg-white p-6 rounded-lg shadow-md">
      <input type="hidden" name="projeto_id" value="{{ projeto_id }}">

      <!-- Form para criar tarefa -->
      <div class="mb-4">
        <label for="nome" class="block text-sm font-medium text-gray-700">Nome da Tarefa</label>
        <input type="text" id="nome" name="nome" required
          class="mt-1 block w-full px-4 py-2 border border-purple-300 rounded-md shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          placeholder="Digite o nome da tarefa">
      </div>

      <div class="mb-4">
        <label for="descricao" class="block text-sm font-medium text-gray-700">Descrição</label>
        <textarea id="descricao" name="descricao" required
          class="mt-1 block w-full px-4 py-2 border border-purple-300 rounded-md shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          rows="4" placeholder="Digite a descrição da tarefa"></textarea>
      </div>

      <div class="mb-4">
        <label for="prioridade" class="block text-sm font-medium text-gray-700">Prioridade</label>
        <select id="prioridade" name="prioridade"
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-purple-300 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm rounded-md">
          <option value="baixa">Baixa</option>
          <option value="media">Média</option>
          <option value="alta">Alta</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="data_entrega" class="block text-sm font-medium text-gray-700">Data de Entrega</label>
        <input type="date" name="data_entrega" min="{{ data_atual }}" required
          class="mt-1 block w-full px-4 py-2 border border-purple-300 rounded-md shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          min="">
      </div>

      <div>
        <button type="submit"
          class="inline-flex items-center px-4 py-2 bg-purple-800 text-white font-semibold rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">
          <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
          </svg>
          Criar Tarefa
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}